* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(151, 151, 126);
}

main {
  width: 650px;
  border: 30px solid #0B2434;
  margin: 0 auto;
  margin-top: 50px;
  height: 550px;
  background-color: #0B2434;
}

.main-in {
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}